

@media screen and (max-width:590) {
.header .navbar a {
flex-direction: column;
}
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
 }

 body {
    background: #000000

 } 

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color:rgba(0, 139, 19, 0.271);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color:black ;
    text-decoration: none;
    font-weight: 800;
    margin-left: 40px;
}

.navbar a {
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 600;
    margin-left: 35px;
    transition: .4s;
}

.navbar a:hover,
.navbar a.active {
    color: #000000;
}

.home {
    background: url(background.jpg) no-repeat;
background-size: cover;
background-position: center;
    height: 100vh;
    display: flex;
    align-items:center ;
    padding: 0 5%;
}

.home-content {
    line-height: 1.2;
    background-color: transparent;
    max-width: 600px;
}

.home-content h1 {
    font-size: 48px;
    font-weight: 800;
}

.home-content h3 {
    font-size: 30px;
    font: weight 800px; 
    color: rgb(0, 0, 0);
}

.home-content p {
    margin: 10px 0 40px;
    font-size: 16px;
    font-weight: bold;
}

.home-content .btn-box {
    width: 150px;
    height: 50px;
    
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background-color: #307c50;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-decoration: none;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
}

.btn-box a:hover {
    color: #307c50;  
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgb(0, 0, 0);
    z-index: -1 ;
    transition: .5s;

}

.btn-box a:hover:before {
    width: 100%;
}

.home-sci {
position: absolute;
bottom: 40px;
width: 170px;
display: flex;
justify-content: space-evenly;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: transparent;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50%;
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover {
color: rgb(255, 255, 255);
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #389654;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before{
width: 100%;

}


/*CONTACT-PAGE*/

/*MAIN*/

.contact {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4,1fr);
    background: url(background.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-height: 500px;
}
    

.contact-me {
grid-column: 2/4;
grid-row: 1;
margin-top: 100px;
background-attachment: fixed;

}

.contact-container {
 grid-column: 2/4 ;
 grid-row: 2/4;
 background-color: white;
 box-shadow: 10px 10px 10px rgb(39, 39, 39);
 margin-top: 40px;
 
 
}

.reach-container {
    grid-column: 4/5;
    grid-row: 2/4;
    background-color: #255e36;  
    box-shadow: 10px 10px 10px -1px rgb(39, 39, 39);
    margin-top: 40px;
}

.contact-me h1  {
    font-size: 34px;
    width: 300px;   
}

.contact-me p {
    font-size: 18px;
    width: 300px;
}

.contact-container h1 {
    font-weight: 600;
    text-align:start;
    padding-left: 10px;
}

.reach-container p{ 
    font-weight: 600;
    font-size: 24px;
    padding: 10px;
    text-align: center;
    color: white;
}

.reach-container h2, h4, h6 {
    font-size: 14px;
    line-height: 1.2;
    font-family: sans-serif;
    color: aliceblue;
    padding: 10px;
    font-weight: lighter;
    text-align: center;
}

.input-field{
    display: flex;
    margin-left: 10px;
    display: flex;
    width: 300px;
    padding: 5px;
    border: 1px solid black;


    
 }
 .contact-container:nth-child(2) {
    text-align:end; 
    padding: 10px;
 }

 .input-field {
    margin-left: 2%; 
    margin-bottom: 20px;
    margin-top: 30px;
 }
 
.textarea-field {
    resize: none;
}

@media screen and (max-width: 830px) {
 
        .contact-me h1  {
            font-size: 24px; 
            grid-column: 2/5; 
            grid-row: auto; 
        }
        
        .contact-me p {
            font-size: 16px;
            grid-column: 2/5;
            grid-row: 2/3
        }

        .contact-me {
            grid-row: ;
        }

        .reach-container {
          scale: 0.9;
        }
        .contact-container {
           scale: 0.9;
        }

        .input-field {
            scale: 0.5;
            margin-right: 50px;
        }

        .contact-container h1{
font-size: 16px;
        }

        .reach-container p {
            font-size: 16px;
        }

        .reach-container h2, h4, h6 {
font-size: 12px;
line-height: 1.2;
        }
    
}



/*WORK-PAGE*/


.work {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5,1fr);
    background: url(background.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    min-height: 500px;

}

.work-container {
    grid-column: 2/5;
    grid-row: 1/5;
    margin-top: 15vh;
    background-color: #0000008c;
    margin-bottom: 20vh;
    flex-direction: row;
    border-radius: 10px;
}

.category-work {
    display: flex;
    flex-direction: column;
}

.work-container h1 {
    color: white;
    padding-left: 20px;
    padding-top: 20px;
    line-height: 2.5;
    font-size: 34px;
}

.work-container p {
    color: white;
    padding-left: 20px;
}

.pictures-work {
    width: 20%;       

    transition: 2s;
} 

.pictures-work:hover {
    scale: 120%;
    border-radius: 15px;
}

.pictures-flyer {
  width: 20%;  
}

.pictures-logo {
    width: 20%;
}
.pictures-mag {
    width: 20%;
}

.pictures-art {
    width: 20%;
}


.category-work {
    margin-top: 40px;
}

@media screen and (max-width: 590px) {

.work-container p {
    font-size: 12px;
}
.pictures-work {
    width: 100%; 
}

.pictures-flyer {
  width: 100%;  
}

.pictures-logo {
    width: 100%;
}
.pictures-mag {
    width: 100%;
}

.pictures-art {
    width: 100%;
}

}
/*CARTOON_INFO*/

.cartoon {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4,1fr);
    background: url(background.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    min-height: 1000px;

}

.cartoon-container {
    grid-column: 1/4;
    grid-row: 1/3;
    margin-top: 20vh;
    background-color: transparent;
   margin-left: 20px;


}

.picture-cartoon {
    grid-column: 2/2;
    grid-row: 1/2;
    color: rgb(255, 255, 255);
    margin-top: 80px;
    
    

}

.cartoon-container h1 {
    font-size: 42px;
    grid-column: 2/3;
    grid-row: 1/2;
    color: rgb(255, 255, 255);
}

.buttercup {
    display: flex;
    flex-direction: column;
    width: 200px;
  
}


.buttercup:hover {
    transition: .8s;
    transform: scale(1.3);
    }

.buttercup-text p {
    color: #000000;
    grid-column: 2/2;
    grid-row: 2/2;
    font-weight: 600;
}

.buttercup-text {
    margin-top: 3em;
}

.buttercup-text h2{
    font-size: 24px;
    color: rgb(255, 255, 255);
}


@media screen and (max-width: 590px) {
    .cartoon-container h1{
font-size: 32px;
    }
    .buttercup {
        width: 150px;
    }
    .buttercup-text p {
        font-size: small;
    }
}

